<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src ="/js/jquery.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>
<script src = "/js/forum.js"></script>
</head>
<body>
	<section class = "fHeaderContainer">
		<div class = "owlLogo">
			<b>OWLET</b>
		</div>
		<nav class = "menu">
			<a href="">Home</a>
			<a href="">News</a>
			<a href="">Forum</a>
			<a href="">About</a>
		</nav>
	</section>
	<section class="topicsWraaper">
		<div class="topic">
			<div class="header"><%-post[0].header%></div>
			<div class="date"><%-post[0].date[2]+"."+post[0].date[1]+"."+post[0].date[0]%></div>
			<div><%-post[0].themId%></div>
			<div><%-post[0].userId%></div>
			<div><%-post[0].content%></div>
			<div><%-post[0]._id%></div>
		</div>
		<% for(i in comment){%>
			<div class="comments">
				<div class="date"><%-comment[i].date[2]+"."+comment[i].date[1]+"."+comment[i].date[0]%></div>
				<%-comment[i].userId%><br>
				<%-comment[i].content%><br>
			</div>
			<br>
		<%}%>
		<div class="textEditor">
			<textarea class="editor"></textarea>
			<div class = "butonSendRESTTopick" data-topic =<%=post[0]._id%>>Send</div>
		</div>
	</section>
</body>
</html>