<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src ="/js/jquery.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>
<script src = "/js/forum.js"></script>
</head>
<body>
	<div class="topicTopic">
		<%=post[0].header%><br>
		<%=post[0].themId%><br>
		<%=post[0].userId%><br>
		<%=post[0].content%><br>
		<%=post[0]._id%><br>
	</div>
	<% for(i in comment){%>
		<div class="comments">
			<%=comment[i].userId%><br>
			<%=comment[i].content%><br>
		</div>
		<br>
	<%}%>
	<textarea class="editor"></textarea>
	<div class = "butonSendRESTTopick" data-topic =<%=post[0]._id%>>Send</div>
</body>
</html>